name: Deploy to Firebase Hosting on PR
'on': pull_request
jobs:
  build_and_preview:
    if: '${{ github.event.pull_request.head.repo.full_name == github.repository }}'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm cache clean --force
      - run: npm ci
      - name: Build
        run: npm run build
        env:
          VITE_FB_API_KEY: ${{ secrets.FB_API_KEY }}
          VITE_FB_AUTH_DOMAIN: ${{ secrets.FB_AUTH_DOMAIN }}
          VITE_FB_PROJECT_ID: ${{ secrets.FB_PROJECT_ID }}
          VITE_FB_STORAGE_BUCKET: ${{ secrets.FB_STORAGE_BUCKET }}
          VITE_FB_MESSAGING_SENDER_ID: ${{ secrets.FB_MESSAGING_SENDER_ID }}
          VITE_FB_APP_ID: ${{ secrets.FB_APP_ID }}
          VITE_OPEN_AI_API_KEY: ${{ secrets.OPEN_AI_API_KEY }}
          VITE_FB_MEASUREMENT_ID: ${{ secrets.FB_MEASUREMENT_ID }}
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_LETTERGEN_34183 }}'
          projectId: lettergen-34183
